@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Arvo/Arvo-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Inika/Inika-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inika';
  font-style: bold;
  font-weight: 700;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Inika/Inika-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: bold;
  font-weight: 700;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype');
}

body {
  letter-spacing: 1px;
  font-family: 'Arvo', 'Inika';
}

table {
  font-family: 'Inconsolata';
  font-size: 16px;
}

.bolded {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.centered > * {
  margin: 0 auto;
}

.aligned-left {
  text-align: left;
}

.aligned-right {
  text-align: right;
}

div.centered > span.bolded {
}

.bordered-on-bottom {
  border-bottom: 1px solid black;
}

.text9 {
  font-size: 16px;
  line-height: 20px;
}

.text10 {
  font-size: 18px;
  line-height: 24px;
}

table > tbody > tr > td > div.text9 > span.text9 {
  line-height: 19px;
}

table > tbody > tr > td > div.text10 > span.text10 {
  line-height: 24px;
}

table > tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

table > tbody tr:nth-child(even) {
  background-color: #dadada;
}
